html{
  --text: #ebe9fc;
  --background: #010104;
  --primary: #353535;
  --secondary: #fc8e40;
  --accent: #120A8F;
}
body{
    color: var(--text);
    background: var(--background)
}

.IndexButtonHome{
background-color: var(--secondary);
  color: var(--text);
  border: 2px solid rgb(255, 251, 246);
 padding: 2px;
 text-align: center;
border-radius: 3px;
max-width: 52px;
max-height: 22px;
justify-content: bottom;
position: fixed;
left: 49px;
bottom: 5px;
}

.IndexButtonBack{
background-color: var(--secondary);
  color: var(--text);
  border: 2px solid rgb(255, 251, 246);
 padding: 2px;
 text-align: center;
border-radius: 3px;
max-width: 52px;
max-height: 22px;
justify-content: bottom;
position: fixed;
left: 2px;
bottom: 5px;
}

.IndexButtonNext{
background-color: var(--secondary);
  color: var(--text);
  border: 2px solid rgb(255, 251, 246);
 padding: 2px;
 text-align: center;
border-radius: 3px;
max-width: 52px;
max-height: 22px;
justify-content: bottom;
position: fixed;
left: 102px;
bottom: 5px;
}

a:link {
  color: var(--text);
}

a:visited {
  color: var(--text);
}

a:hover {
  color: var(--accent);
}

a:active {
  color: var(--secondary);
}
 