html{
    --text: #ebe9fc;
--background: #010104;
--primary: #353535;
--secondary: #fc8e40;
--accent: #120A8F;
}
body{
    color: var(--text);
    background: var(--background)
}
.IndexButtons{
background-color: #161616;
  color: var(--text);
  border: 2px solid rgb(255, 251, 246);
 padding: 2px;
 text-align: center;
max-width: 52px;
max-height: 22px;
justify-content: bottom;
position: fixed;
right: 30px;
left: 2px;
bottom: 5px;
}
 